.__Product {
    /* min-height: auto !important; */
    min-height: 400px !important;
    width: 90%;
    margin-bottom: 100px;
}



/* Product style */

.link-product {
    color: gray !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
    cursor: pointer;
}

.link-product.active {
    color: rgb(207, 56, 56) !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
    border-bottom: 2px solid rgb(207, 56, 56) !important;
    background-color: transparent !important;
}

@media only screen and (max-width: 768px) {
 
    .__Product {
        min-height: 500px !important;
        width: 90%;
    }
  }

